.h-container{
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.12);
}



.logo{
    width:150px;
}

.h-menu-items{
    gap: 2.5rem;
}

.h-menu-items a{
    font-size: 1.1rem;
}

.h-menu-items a:hover{
    border-bottom: 1px solid #c51f31;
    color: #c51f31;
}
.logBtn{
    background-color:#c51f31;
    color: white;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 15px;
    margin-right:1rem;
}